@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝",
        "MS 明朝", serif;
    font-feature-settings: "palt";
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}
a:hover {
    opacity: 0.5;
}
ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* 共通 */
body {
    background-color: #e8d9bf;
}
.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
.sp_only {
    display: none;
}
/* ヘッダー */
.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 7%;
    padding-left: 2.8%;
    box-sizing: border-box;
}
.header_logo {
    width: 226px;
}
.img_sp {
    display: none;
}
.pc_nav ul {
    display: flex;
    justify-content: space-between;
}

.pc_nav ul li {
    min-width: 105px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

.pc_nav ul li + li {
    margin-left: 55px;
}
/* リード文 */
.lead {
    margin-top: 104px;
    margin-bottom: 90px;
    text-align: center;
}
.lead .lead_sub_catch {
    font-size: 30px;
    margin-bottom: 55px;
}
.lead .lead_catch {
    font-size: 82px;
    margin-bottom: 16px;
    line-height: 1.17;
}
.lead p {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}
.lead p:first-child {
    letter-spacing: 0;
}

/* ABOUT US */
.about {
    display: flex;
    justify-content: space-between;
}
.about_img {
    width: 50%;
}
.about_img img {
    border-radius: 0 0 80px 0;
}
.about_sp_img {
    display: none;
}
.about_box {
    width: 41%;
    text-align: left;
}
.about_box h2 {
    width: 272px;
    margin-bottom: 40px;
    padding-top: 55px;
}
.about_title {
    font-size: 44px;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1.38;
}
.about_box p {
    font-size: 16px;
    line-height: 1.62;
}

/* menu */
.menu {
    padding-top: 100px;
    margin-bottom: 96px;
}
.menu_category {
    display: flex;
    justify-content: space-between;
}
.category_item {
    width: 30%;
    text-align: left;
}
.menu h2 {
    width: 151px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.menu h3 {
    font-size: 38px;
    color: #d30202;
    margin-top: -10px;
    margin-bottom: 19px;
    font-weight: normal;
    padding-left: 15px;
}
.menu_img {
    width: 100%;
    border-radius: 0 40px 0 0;
}
.menu_text {
    font-size: 17px;
    line-height: 1.47;
}

/* gallery */
.gallery h2 {
    width: 245px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.gallery_block {
    width: 100%;
    display: flex;
    margin-bottom: 70px;
}

/* event */
.event {
    margin-bottom: 76px;
}
.event h2 {
    width: 173px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.event_block {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: solid 3px #4f260b;
    padding: 38px;
}
.event_post {
    display: flex;
}
.event_post + .event_post {
    margin-top: 20px;
}
.event_post dt {
    font-size: 23px;
}
.event_post dd {
    margin-left: 50px;
    font-size: 23px;

    display: inline-block;
}
.event_post dd a {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .event_post {
        display: block;
    }
    .event_post dt {
        margin-bottom: 5px;
    }
    .event_post dd {
        margin-left: 0;
    }
}
/* access */
.access h2 {
    width: 213px;
    margin: 0 auto;
    margin-bottom: 46px;
}
/* .access .access_map {
    width: 100%;
} */
.access .access_map iframe {
    width: 100%;
    height: 470px;
    display: block;
}

/* フッター */
footer {
    background: #fff;
    padding-top: 75px;
}
.footer_logo {
    width: 226px;
}
.footer_block {
    display: flex;
}
.footer_block .footer_info {
    font-size: 20px;
    line-height: 1.95;
    color: #000;
    margin-left: 65px;
    margin-bottom: 60px;
}
small {
    font-size: 16px;
    color: #000;
    margin: 0 auto;
}
.footer_copy {
    text-align: center;
    padding-bottom: 80px;
}
.pagetop {
    width: 125px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

/* レスポンシブ */

/* リード文テキスト */
@media screen and (max-width: 1100px) {
    .lead .lead_sub_catch {
        font-size: 25px;
    }
    .lead .lead_catch {
        font-size: 63px;
    }
    .lead p {
        font-size: 18px;
    }

    /* about */
    h3 .about_title {
        font-size: 38px;
    }
}
@media screen and (max-width: 767px) {
    .sp_only {
        display: block;
    }

    .header_logo {
        width: 187px;
    }
    /* リード文 */
    .lead {
        margin-bottom: 0;
        margin-top: 30px;
        padding: 0;
    }
    .lead .lead_sub_catch {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .lead .lead_catch {
        font-size: 38px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin-bottom: 15px;
    }
    .lead p {
        font-size: 16px;
        line-height: 1.87;
    }

    /* ABOUT */
    .about {
        flex-direction: column;
        margin-bottom: 0;
    }
    .about_box {
        width: 100%;
    }
    .about_box h2 {
        width: 160px;
        margin: 0 auto;
    }
    /* 画像の切り替え */
    .about_img {
        display: none;
    }
    .about_sp_img {
        display: block;
        margin: 0 -10px;
        margin-top: 17px;
        margin-bottom: 35px;
    }
    .about_title {
        font-size: 36px;
        line-height: 1.25;
        padding: 0 10px;
    }
    .about_box p {
        font-size: 16px;
        padding: 0 10px;
    }

    /* メニュー */
    .menu {
        padding-top: 50px;
        padding-left: 35px;
        padding-right: 35px;
        margin-bottom: 0;
    }
    .menu_category {
        display: block;
    }
    .menu .category_item {
        width: 100%;
    }
    .menu h2 {
        width: 87px;
        margin-bottom: 22px;
    }
    .menu h3 {
        font-size: 40px;
        margin-bottom: 25px;
    }
    .menu_text {
        font-size: 17px;
        line-height: 1.58;
        margin-bottom: 55px;
    }

    /* GALLERY */
    .gallery {
        padding-top: 30px;
    }
    .gallery h2 {
        width: 142px;
    }
    .gallery_block {
        display: block;
        margin-bottom: 33px;
    }

    /* event */
    .event {
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .event h2 {
        width: 100px;
        margin-bottom: 20px;
    }
    .event_post dt {
        font-size: 16px;
    }
    .event_post dd {
        width: 100%;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .event_block {
        display: block;
        margin-bottom: 33px;
        padding: 20px 30px;
    }

    /* ACCESS */
    .access h2 {
        width: 124px;
        margin-bottom: 10px;
    }
    .access .access_map iframe {
        height: 190px;
    }

    /* フッター */
    footer {
        padding-top: 48px;
    }
    footer .inner {
        padding: 0 20px;
    }
    .footer_block {
        display: block;
        margin-bottom: 40px;
    }
    .footer_logo {
        margin-bottom: 20px;
    }
    .footer_block .footer_info {
        font-size: 18px;
        margin: 0;
        line-height: 1.72;
    }
    .footer_copy {
        padding-bottom: 30px;
    }

    /* PAGETOP */
    .pagetop {
        width: 100px;
        right: 11px;
    }
}

/* メニューの出し分け */
.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガー */
    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn span,
    .sp_btn span::before,
    .sp_btn span::after {
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        position: absolute;
    }
    .sp_btn span {
        position: relative;
        top: 10px;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }
    /* ハンバーガー閉じる */
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}

.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #fff;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
