@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #2c2f43;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-feature-settings: "palt";
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}
a:hover {
    opacity: 0.5;
}
ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* 共通 */
body {
    background-color: #d3d4d5;
}
.inner {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 140px;
    padding: 0 10px;
}
.under_text {
    margin-top: 13px;
    text-align: center;
    margin-bottom: 70px;
    color: #6b6d7b;
}
.sub_text {
    text-align: center;
    margin-bottom: 70px;
}
.small_text {
    font-size: 12px;
}
/* ヘッダー */
header {
    background-color: #808b96;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: 20px;
    align-items: center;
    padding-right: 7%;
    padding-left: 20px;
}
.header_logo {
    width: 84px;
    margin-bottom: 10px;
}
.pc_nav ul {
    display: flex;
}
.pc_nav ul li {
    color: #f5f5f5;
    font-size: 16px;
    padding: 5px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.pc_nav ul li + li {
    margin-left: 55px;
}
/* ホバーした時の下線 */
.pc_nav ul li::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #f5f5f5;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}
.pc_nav ul li:hover::after {
    transform: scale(1, 1);
}
/* ページ内リンクヘッダーの高さを引いてスクロール */
#header {
    position: fixed; /*追従ナビのためpositionをfixedにする*/
    top: 0; /*ポジション設定topを0*/
    height: 89px; /*headerの高さを指定*/
    width: 100%; /*position:fixed;にしたため、横幅100%を設定*/
}
